{
    "swagger": "2.0",
    "info": {
        "title": "Adafruit IO",
        "description": "The Internet of Things for Everyone",
        "version": "1.0.0"
    },
    "host": "io.adafruit.com",
    "schemes": [
        "https",
        "http"
    ],
    "basePath": "/api",
    "produces": [
        "application/json",
        "application/xml",
        "text/csv"
    ],
    "paths": {
        "/feeds": {
            "get": {
                "summary": "Feeds",
                "description": "The Feeds endpoint returns information about the user's feeds. The response includes the latest value of each feed, and other metadata about each feed.",
                "parameters": [
                    {
                        "name": "group_id",
                        "in": "query",
                        "description": "If the group_id is present, then this is a nested resource looking for the feeds in a group.",
                        "required": false,
                        "type": "number",
                        "format": "double"
                    }
                ],
                "tags": [
                    "Feeds"
                ],
                "responses": {
                    "200": {
                        "description": "An array of feeds",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Feed"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                },
                "security": [
                    {
                        "HeaderKey": []
                    },
                    {
                        "QueryKey": []
                    }
                ]
            }
        },
        "/feeds/{id}": {
            "get": {
                "description": "Returns feed based on ID",
                "summary": "Get feed by ID, Feed key, or Feed Name",
                "operationId": "getFeedById",
                "tags": [
                    "Feeds"
                ],
                "responses": {
                    "200": {
                        "description": "Feed response",
                        "schema": {
                            "type": "object",
                            "items": {
                                "$ref": "#/definitions/Feed"
                            }
                        }
                    },
                    "default": {
                        "description": "error payload",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID, key, or name of feed to use",
                        "required": true,
                        "type": "string"
                    }
                ],
                "security": [
                    {
                        "HeaderKey": []
                    },
                    {
                        "QueryKey": []
                    }
                ]
            }
        },
        "/groups": {
            "get": {
                "summary": "All groups for current user",
                "description": "The Groups endpoint returns information about the user's groups.\nThe response includes the latest value of each feed in the group, and other\nmetadata about the group.\n",
                "tags": [
                    "Groups"
                ],
                "responses": {
                    "200": {
                        "description": "An array of groups",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Group"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                },
                "security": [
                    {
                        "HeaderKey": []
                    },
                    {
                        "QueryKey": []
                    }
                ]
            }
        },
        "/groups/{id}": {
            "get": {
                "description": "Returns group based on ID",
                "summary": "Get group by ID, key, or Name",
                "operationId": "getGroupById",
                "tags": [
                    "Groups"
                ],
                "responses": {
                    "200": {
                        "description": "Group response",
                        "schema": {
                            "type": "object",
                            "items": {
                                "$ref": "#/definitions/Group"
                            }
                        }
                    },
                    "default": {
                        "description": "error payload",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID, key, or name of feed to use",
                        "required": true,
                        "type": "string"
                    }
                ],
                "security": [
                    {
                        "HeaderKey": []
                    },
                    {
                        "QueryKey": []
                    }
                ]
            }
        }
    },
    "securityDefinitions": {
        "HeaderKey": {
            "description": "The AIO Key is used to restrict or grant access to your data. The key is unique, and you can generate a key per feed, and control it in many different ways. The easiest process is to just use your automatically generated master key. You can access this key right from the right-hand side of your dashboard or from an individual feed page.",
            "type": "apiKey",
            "in": "header",
            "name": "X-AIO-Key"
        },
        "QueryKey": {
            "description": "The AIO Key is used to restrict or grant access to your data. The key is unique, and you can generate a key per feed, and control it in many different ways. The easiest process is to just use your automatically generated master key. You can access this key right from the right-hand side of your dashboard or from an individual feed page.",
            "type": "apiKey",
            "in": "query",
            "name": "X-AIO-Key"
        }
    },
    "definitions": {
        "Group": {
            "properties": {
                "id": {
                    "type": "string",
                    "description": "Unique numeric identifier for group."
                },
                "description": {
                    "type": "string",
                    "description": "Description of group."
                },
                "name": {
                    "type": "string",
                    "description": "Display name of feed."
                }
            }
        },
        "Feed": {
            "properties": {
                "id": {
                    "type": "string",
                    "description": "Unique numeric identifier for feed."
                },
                "description": {
                    "type": "string",
                    "description": "Description of product."
                },
                "name": {
                    "type": "string",
                    "description": "Display name of feed."
                }
            }
        },
        "Error": {
            "properties": {
                "error": {
                    "type": "string"
                }
            }
        }
    }
}